
.styleForpaganation > ul
{
    list-style-type: none;
    display: flex;
}
.styleForpaganation > ul > li
{
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}
.styleForpaganation > ul > li.active
{
    background-color: white;
    color: black;
}