*{padding: 0px; margin: 0px;}
.nutbam
{
    position: relative;
    top: 10px;
    left: 280px;
}
.nutbam ul
{
    text-align: center;
}
.nutbam ul > li
{
    color: white;
    display: inline-block;
}
.nutbam ul  li > i
{
    font-size: 30px;
}
.nutbam ul  li > i:hover
{
    color: black;
}
.motside ul li .hianh > img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.hianh
{
    position: absolute;
    top: 0px;
    width: 100%;
}
.motside ul li .hianh > h5 , small , .borderLineDown , p
{
    top: 10px;
    left: 650px;
    z-index: 2;
    color: white;
    position: absolute;
}
.motside ul li .hianh >  small
{
    top: 80px;
    color: white;
}
.borderLineDown
{
    top: 120px;
    width: 120px;
    height: 2px;
    border: 1px solid white;
}
.motside ul li .hianh > p
{
    top: 140px;
    max-width: 300px;
}
.motside ul > .hidden
{
    opacity: 1;
    transition: 1s;
}
.motside ul li
{
    opacity: 0;
}
.phantumoi
{
    animation: ant2 2s forwards;
}
.phantucu
{
    animation: ant1 2s forwards;
}
@-webkit-keyframes ant1
{
    from
    {
        transform: translateX(200);
        opacity: 0;
    }
    to
    {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes ant2
{
    from
    {
        transform: translateX(200);
        opacity: 0;
    }
    to
    {
        transform: translateX(0);
        opacity: 1;
    }
}